* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}
:root {
  --cyan: hsl(193, 38%, 86%);
  --neon: hsl(150, 100%, 66%);
  --gb: hsl(217, 19%, 38%);
  --dgb: hsl(217, 19%, 24%);
  --db: hsl(218, 23%, 16%);
}
body {
  font-family: 'Manrope', sans-serif;
  display: flex;
  justify-content: center;
  align-items: center; 
  height: 100vh;
  background-color: var(--db);
  transform-style: preserve-3d;
}
.icon {
  width: 100%;
  height: 2em;
  object-fit: contain;
}
.card {
  width: 30em;
  background-color: var(--dgb);
  border-radius: 0.5em;
  padding: 3em 2em; 
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}
.id {
  color: var(--neon);
  text-transform: uppercase;
  letter-spacing: 2px;
}
h1 {
  margin: 1em 0;
  color: var(--cyan);
  text-align: center;
  font-size: 24px;
}
.btn {
  position: absolute;
  bottom: 0%;
  left: 50%;
  transform: translate(-50%, 50%);
}
.dice {
  width: 1.5em;
  height: 1.5em;
  background-color: var(--neon);
  cursor: pointer;
}
.btn::after {
  content: '';
  width: 3em;
  height: 3em;
  background-color: var(--neon);
  position: absolute;
  left: -0.75em;
  top: -0.75em;
  z-index: -1;
  border-radius: 50%;
}

/* Evnets */
.btn:hover::after {
  box-shadow: 2px 2px 20px var(--neon);
}